body {
    background-color: #fff
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blog_head {
    background-image: url(../img/bg_blog.html);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 11% 0
}

#cont .blog_head h1 {
    color: #fff !important;
    font: 40px helveticaneuecyr-medium
}

.blog_head .zag_blog_2 {
    color: #d4d4d4;
    text-align: center;
    padding: 5px 1% 15px;
    font: 20px system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cat-children,
.blog_cat_list {
    width: 98%;
    padding: 0 1%;
    margin: 25px 0
}

.blog_cat_name {
    float: left;
    display: inline-block;
    padding: 7px 0%;
    margin-right: 15px;
    font: 17px system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px
}

.blog_cat_tag a {
    float: left;
    display: inline-block;
    background: #c5a87b;
    padding: 8px 14px;
    margin-right: 15px;
    color: #fff;
    margin-bottom: 10px
}

.blog_cat_tag a:hover {
    background: #272727
}

#cont .blog_cat_tag a {
    color: #fff;
    font: 16px sans-serif
}

.blog_cat_tag span {
    font: 15px sans-serif
}

.clear {
    clear: both
}

#cont .blog_head .breadcrumb span.divider.icon-location,
#cont .blog_head_article .breadcrumb span.divider.icon-location {
    display: none
}

#cont .blog_head div.jk-product-page .breadcrumb,
#cont .blog_head_article div.jk-product-page .breadcrumb {
    margin-bottom: 17px;
    padding: 9px
}

#cont .blog_head .breadcrumb,
#cont .blog_head_article .breadcrumb {
    text-align: center;
    margin-bottom: 8px;
    padding: 0;
    max-width: 100%;
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat
}

#cont .blog_head ul.breadcrumb li,
#cont .blog_head_article ul.breadcrumb li {
    margin: 0;
    padding: 8px 0;
    font: 15px sans-serif;
    list-style: none;
    display: inline
}

#cont .blog_head .breadcrumb span,
#cont .blog_head_article .breadcrumb span {
    color: #c49e68;
    text-shadow: none;
    display: inline;
    padding-left: 1px
}

#cont .blog_head ul.breadcrumb li.active span,
#cont .blog_head_article ul.breadcrumb li.active span {
    color: #e7e7e7
}

#cont .blog_head .breadcrumb a,
#cont .blog_head_article .breadcrumb a {
    font: 15px sans-serif;
    text-shadow: none;
    font: 15px sans-serif
}

#cont .blog_head_article ul.breadcrumb li.here {
    color: #e7e7e7
}

#cont .blog_head ul.breadcrumb li span:hover,
#cont .blog_head_article ul.breadcrumb li span:hover {
    color: #e7e7e7 !important
}

.blog_search {
    width: 98%;
    padding: 0 1%
}

.blog_search_body .yjlivecont,
.yjlivecont * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.yjlivecont form {
    height: 46px;
    background: #f1efef;
    border-left: 3px solid #c5a87b;
    font-size: 0;
    margin-bottom: 30px;
    font-family: sans-serif
}

.yjlivecont form input {
    display: inline-block;
    font-size: 14px;
    height: 46px;
    line-height: 46px;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0 !important;
    background: 0 0;
    font: 15px HelveticaNeueCyr-Light !important
}

.yjlivecont form input[type=submit] {
    background: #c5a87b url(../img/search.png) no-repeat center center !important;
    color: transparent;
    width: 46px
}

.yjlivecont form input[type=text] {
    width: calc(100% - 46px) !important;
    padding-left: 10px
}

.LiveSearchContainer.defaultfeed,
.LiveSearchResults.defaultfeed {
    width: 320px !important
}

.LiveSearchResults .LiveSearchResultHover {
    background: #c5a87b !important
}

.LiveSearchContainer .noResults {
    font-weight: 400 !important;
    text-align: left !important;
    font-size: 15px !important;
    font-family: sans-serif
}

.LiveSearchResults a {
    font-weight: 400 !important;
    text-align: left !important;
    font-size: 14px !important;
    font-family: sans-serif
}

.LiveSearchResults a.next,
.LiveSearchResults a.back {
    display: none
}

.blog {
    margin: 2em auto 0;
    width: 98%;
    max-width: 1200px
}

.blog-post {
    width: 33%;
    margin: 10px 0;
    float: none;
    display: inline-block !important
}

.blog-post-in {
    width: 94%;
    padding: 0;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, .2);
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, .2);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, .2)
}

.blog-post-in:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(50, 50, 50, .3);
    -moz-box-shadow: 0 0 15px 0 rgba(50, 50, 50, .3);
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, .3)
}

.blog-image {
    position: relative;
    overflow: hidden
}

#cont .blog-image img {
    border-bottom: 4px solid #c5a87b
}

.blog-created {
    position: absolute;
    top: 0;
    left: 0;
    background: #c5a87b;
    color: #fff;
    padding: 5px 20px;
    z-index: 99
}

.blog-created span {
    display: block;
    text-align: center;
    font: 12px sans-serif
}

.blog-created span.day {
    font: 22px sans-serif
}

.blog-created span.year {
    padding-top: 3px
}

.blog-content {
    padding: 0 5% 2%
}

#title-main {
    height: 37px;
    overflow: hidden
}

#cont .blog-title {
    padding: 10px 0
}

#cont .blog-title a {
    font: 20px sans-serif;
    color: #3a3017;
    text-align: left
}

#cont .blog-title a:hover {
    color: #c5a87b;
    text-decoration: none
}

.blog-meta-list-item:before {
    width: 100%;
    height: 3px;
    background-image: url(../img/line_news.png);
    background-repeat: no-repeat;
    background-position: left center;
    content: '';
    display: block;
    margin: 8px auto 15px !important
}

.blog-category {
    width: 50%;
    text-align: left;
    display: inline-block;
    float: left
}

.blog-category a {
    padding-left: 22px;
    position: relative;
    font: 16px sans-serif;
    color: #bc9b70
}

.blog-category a:before {
    height: 16px;
    width: 16px;
    background-image: url(../img/tag.png);
    background-repeat: no-repeat;
    background-position: left center;
    content: '';
    position: absolute;
    top: 0;
    left: 0
}

.blog-hit {
    width: 50%;
    text-align: right;
    display: inline-block
}

.blog-hit span {
    position: relative;
    font: 16px sans-serif;
    padding-left: 30px
}

.blog-hit span:before {
    height: 16px;
    width: 23px;
    background-image: url(../img/view.png);
    background-repeat: no-repeat;
    background-position: left center;
    content: '';
    position: absolute;
    top: 0;
    left: 0
}

#cont .blog-text p {
    font: 16px HelveticaNeueCyr-Light;
    color: #333;
    line-height: 1.4;
    text-align: left;
    height: 68px;
    overflow: hidden
}

#cont .blog-content p.readmore a {
    font: 14px sans-serif;
    color: #c5a87b;
    border: 2px solid #c5a87b;
    padding: 6px 5px;
    text-align: center;
    display: block;
    margin: 10px auto 5px;
    max-width: 120px;
    float: none
}

#cont .blog-content p.readmore a:hover {
    color: #020202;
    text-decoration: none;
    border: 2px solid #020202
}

.blog-image img,
.blog_related_article img {
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease
}

.blog-image img:hover,
.blog_related_article img:hover {
    transform: rotate(0deg) scale(1.02) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.02) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.02) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.02) skew(0deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1.02) skew(0deg) translate(0px);
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease
}

.blog-pagination {
    padding: 30px 0 10px;
    text-align: center
}

.blog-pagination li {
    display: inline-block !important;
    list-style: none;
    margin-bottom: 10px
}

.blog-pagination li a {
    display: inline-block !important
}

.blog-pagination li .pagenav,
.blog-pagination li.pagination-prev span.pagenav,
.blog-pagination li.pagination-start span.pagenav,
.blog-pagination li.pagination-next span.pagenav,
.blog-pagination li.pagination-end span.pagenav {
    list-style: none;
    height: 30px;
    color: gray;
    display: inline-block;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    padding: 0 10px;
    position: relative;
    line-height: 28px;
    font-size: 14px;
    text-decoration: none;
    box-shadow: none;
    margin: 0 4px;
    background: 0 0
}

#cont .blog-pagination li a.pagenav:hover,
.blog-pagination li span.pagenav {
    background: #c5a87b;
    border: 1px solid #c5a87b;
    color: #fff
}

#cont .blog-pagination li a.pagenav:hover,
.blog-pagination li.page-number span.pagenav {
    color: #fff
}

.blog_search_body,
.search-results {
    margin: 2em auto 0;
    width: 98%;
    max-width: 1140px;
    padding: 0 1%
}

.blog_search_body .blog_search {
    width: 100%;
    padding: 0
}

.searchintro {
    margin-top: -8px
}

.zaprosu {
    padding-bottom: 15px
}

.blog_search_body .chzn-container {
    width: 80px !important
}

.blog_search_body .chzn-container-active.chzn-with-drop .chzn-single {
    background: #f1efef !important
}

.blog_search_body .chzn-container-single .chzn-single {
    padding: 2px 0 0 14px !important;
    height: 27px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: #f1efef !important
}

.blog_search_body .chzn-container-single .chzn-single div b {
    background-position: 0 5px !important
}

dd.result-text {
    margin-bottom: 20px;
    border-bottom: 1px solid #cecece
}

dd.result-category {
    padding: 10px 0 0
}

#cont .result-title a {
    font: 27px sans-serif;
    color: #bc9b70 !important
}

#cont .result-title a {
    color: #bc9b70
}

.blog_head_image_cover_main {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bg_blog_article.html)
}

.blog_head_image_cover {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.blog_head_article {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 14% 0;
    background-image: url(../img/bg_blog_article_cover_black.png)
}

#cont .blog_head_article h1 {
    color: #fff !important;
    font: 40px helveticaneuecyr-medium;
    margin: 10px auto 30px;
    text-align: center;
    padding: 0 3%;
    max-width: 1200px
}

.blog-info-article {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 1% 2%;
    text-align: center
}

ul.blog-info li {
    display: inline-block;
    padding: 8px 15px;
    font: 16px sans-serif
}

.blog-category-article {
    width: auto;
    text-align: left;
    display: inline-block
}

#cont .blog-category-article a {
    padding-left: 23px;
    position: relative;
    color: #fff
}

.blog-category-article a:hover {
    color: #bc9b70
}

.blog-category-article a:before {
    height: 16px;
    width: 16px;
    background-image: url(../img/tag.png);
    background-repeat: no-repeat;
    background-position: left center;
    content: '';
    position: absolute;
    top: 0;
    left: 0
}

.blog-author-article {
    width: auto;
    display: inline-block;
    text-align: left;
    color: #fff
}

.blog-author-article span {
    position: relative;
    padding-left: 22px
}

.blog-author-article span:before {
    height: 17px;
    width: 17px;
    background-image: url(../img/author.png);
    background-repeat: no-repeat;
    background-position: left center;
    content: '';
    position: absolute;
    top: 0;
    left: 0
}

.blog-hit-article {
    width: auto;
    display: inline-block;
    text-align: left;
    color: #fff
}

.blog-hit-article span {
    position: relative;
    padding-left: 30px
}

.blog-hit-article span:before {
    height: 16px;
    width: 23px;
    background-image: url(../img/view.png);
    background-repeat: no-repeat;
    background-position: left center;
    content: '';
    position: absolute;
    top: 0;
    left: 0
}

.blog-created-article {
    width: auto;
    display: inline-block;
    text-align: left;
    color: #fff
}

.blog-created-article span {
    position: relative;
    padding-left: 25px
}

.blog-created-article span:before {
    height: 16px;
    width: 23px;
    background-image: url(../img/date.png);
    background-repeat: no-repeat;
    background-position: left center;
    content: '';
    position: absolute;
    top: 0;
    left: 0
}

.blog_content_article_bg {
    margin: 2em auto 0;
    width: 98%;
    max-width: 1280px
}

.blog_content_article {
    width: 70%;
    height: auto;
    min-height: 250px;
    padding: 2%;
    margin-bottom: 20px;
    float: left;
    border: 3px dashed #d7d7d7;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.blog_sidebar {
    width: 27%;
    position: relative;
    padding: 0 1%;
    margin: 0;
    height: 100%;
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

#cont .blog_content_article ul.pager.pagenav li {
    background: 0 0;
    display: inline-block;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

#cont .blog_content_article ul.pager.pagenav li.next {
    text-align: right
}

.pagenav-prev,
.pagenav-next {
    padding: 10px 10px 10px 0
}

#cont .blog_content_article .pagenav a:hover {
    color: #292929
}

.blog_cat_list_sidebar {
    width: 98%;
    padding: 0 1%;
    margin: 0 0 15px
}

.blog_cat_name_sidebar {
    width: 100%;
    display: block;
    padding: 0 0 7px;
    font: 27px helveticaneuecyr-medium;
    margin-bottom: 10px;
    color: #5b5b5b
}

.blog_cat_list_sidebar .blog_cat_tag a {
    float: left;
    display: inline-block;
    background: #c5a87b;
    padding: 6px 7px;
    margin-right: 8px;
    color: #fff;
    margin-bottom: 10px
}

.blog_cat_list_sidebar .blog_cat_tag a:hover {
    background: #272727
}

#cont .blog_cat_tag a {
    color: #fff;
    font: 15px sans-serif
}

.blog_cat_list_sidebar .blog_cat_tag span {
    font: 15px sans-serif
}

.blog_popular_article {
    width: 98%;
    padding: 0 1%;
    margin: 0 0 15px
}

.blog_popular {
    width: 100%;
    display: block;
    padding: 0 0 7px;
    font: 27px helveticaneuecyr-medium;
    margin-bottom: 20px;
    color: #5b5b5b
}

.popular_item {
    margin-bottom: 8px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.popular_item:nth-child(n+2) {
    padding-top: 8px;
    border-top: 1px solid #e5e5e5
}

.popular-image {
    float: left;
    display: inline-block;
    position: relative;
    overflow: hidden
}

.popular-tittle {
    padding-left: 20px;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

#cont .popular-tittle a {
    color: #000;
    line-height: 1.3 !important;
    font-size: 15px
}

#cont .popular-tittle a:hover {
    color: #bc9b70;
    text-decoration: none
}

.popular_item:hover .popular_item_hit {
    left: 0
}

.popular_item_hit {
    position: absolute;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-image: url(../img/bg_blog_article_cover_black.png);
    text-align: left;
    line-height: 22px;
    padding-top: 23px;
    padding-left: 10%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.popular_item_hit span {
    position: relative;
    padding-left: 30px
}

.popular_item_hit span:before {
    height: 16px;
    width: 23px;
    background-image: url(../img/view.png);
    background-repeat: no-repeat;
    background-position: left center;
    content: '';
    position: absolute;
    top: 0;
    left: 0
}

.blog_lates_article {
    width: 98%;
    padding: 0 1%;
    margin: 0 0 15px
}

.blog_lates {
    width: 100%;
    display: block;
    padding: 0 0 7px;
    font: 27px helveticaneuecyr-medium;
    margin-bottom: 20px;
    color: #5b5b5b
}

.lates_item {
    margin-bottom: 8px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.lates_item:nth-child(n+2) {
    padding-top: 8px;
    border-top: 1px solid #e5e5e5
}

.lates-image {
    float: left;
    display: inline-block;
    padding-right: 20px
}

.lates-tittle {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

#cont .lates-tittle a {
    color: #000;
    line-height: 1.3 !important;
    font-size: 15px
}

#cont .lates-tittle a:hover {
    color: #bc9b70;
    text-decoration: none
}

.relateditems {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

.blog_related_article {
    width: 100%;
    padding: 1% 0;
    margin: 20px 0 15px
}

.blog_related {
    width: 100%;
    display: block;
    padding: 0 0 7px;
    font: 27px helveticaneuecyr-medium;
    margin-bottom: 20px;
    color: #5b5b5b
}

.related_item {
    float: left;
    width: 25%;
    margin-bottom: 20px
}

.related-image {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden
}

.related-tittle {
    width: 100%;
    display: block;
    height: 39px;
    overflow: hidden
}

#cont .related-tittle a {
    color: #000;
    line-height: 1.3 !important;
    font-size: 15px
}

#cont .related-tittle a:hover {
    color: #bc9b70;
    text-decoration: none
}

.blog-content-related {
    padding: 2% 5%
}

@media screen and (max-width:1680px) {
    .blog_head {
        padding: 8% 0
    }
}

@media screen and (max-width:1440px) {
    .blog_head {
        padding: 12% 0
    }
}

@media screen and (max-width:1200px) {

    .blog_popular,
    .blog_cat_name_sidebar,
    .blog_lates {
        font: 24px helveticaneuecyr-medium
    }

    .blog_related {
        font: 24px helveticaneuecyr-medium;
        text-align: center
    }

    .relateditems {
        max-width: 1000px
    }

    .related_item {
        width: 33.3%
    }

    .blog_content_article_bg {
        margin: 1em auto 0
    }

    .blog_content_article {
        width: 100%;
        padding: 1em 2%
    }

    .blog_sidebar {
        display: none
    }

    .related-tittle {
        height: 56px
    }

    .blog {
        max-width: 850px
    }

    .blog-post {
        width: 49.5%
    }

    .blog-created span.day {
        font: 16px sans-serif
    }

    .blog-created {
        padding: 5px 12px
    }

    #cont .blog-title a {
        font: 18px sans-serif
    }

    .blog-category-article a,
    .blog-author-article span,
    .blog-hit-article span,
    .blog-created-article span,
    .blog-hit span,
    .blog-category a {
        padding-top: 4px
    }
}

@media screen and (max-width:700px) {
    .event-container {
        padding: 7px 0 3px !important
    }
}

@media screen and (max-width:700px) {
    #cont .blog_article p img {
        float: none !important;
        margin: 10px auto !important;
        display: block
    }

    .related_item {
        width: 50%
    }
}

@media screen and (max-width:600px) {
    .blog-post {
        width: 100%;
        max-width: 400px;
        float: none;
        margin: 20px auto;
        display: block !important
    }
}

@media screen and (max-width:500px) {
    .related_item {
        width: 98%;
        max-width: 320px;
        float: none;
        margin: 22px auto
    }

    .blog_popular,
    .blog_cat_name_sidebar,
    .blog_lates {
        font: 22px helveticaneuecyr-medium
    }

    .blog_related {
        font: 22px helveticaneuecyr-medium;
        text-align: center
    }
}

#top_menu_bg_full {
    width: 100%;
    height: auto;
    z-index: 999;
    margin: 0 auto;
    background: #111;
    background-repeat: no-repeat;
    background-position: center center
}

#top_menu_fixed {
    width: 100%;
    background: 0 0;
    padding: 0;
    height: auto
}

#top_menu_fixed .su-row.head_main_colum {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1600px
}

#top_menu_fixed .su-row.head_main_colum p.izob {
    text-align: center !important;
    margin: 0 auto
}

#top_menu_fixed .su-row.head_main_colum img {
    max-width: 100%;
    height: auto
}

#top_menu_fixed .su-column.logo_colum_1.su-column-size-1-1.su-column-size-medium-1-3 {
    width: 23%;
    margin: 0 auto !important;
    padding: 10px 1% !important
}

#top_menu_fixed .su-column.nav_colum_2.su-column-size-1-1.su-column-size-medium-1-3 {
    width: 68%;
    margin: 0 auto !important;
    padding: 30px 1% 10px !important
}

#top_menu_fixed .su-column.tel_colum_3.su-column-size-1-1.su-column-size-medium-1-3 {
    width: 14%;
    margin: 0 auto !important;
    padding: 30px 1% 10px !important
}

#top_menu_fixed table {
    float: right;
    font-family: sans-serif;
    font-size: 18px
}

#top_menu_fixed table td,
#top_menu_fixed table td a {
    color: #fff;
    padding-bottom: 7px;
    font-weight: 700
}

#top_menu_fixed table td span {
    color: #c8a77b;
    font-weight: 400
}

#top_menu_fixed table td a {
    text-decoration: none
}

#top_menu_fixed #megamenucss {
    font-family: sans-serif;
    text-transform: uppercase
}

#top_menu_fixed #megamenucss #js-mainnav.megamenu ul.level0 li.megacss span.megacss {
    cursor: default
}

#banner {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    background: #fff;
    z-index: 0
}

div.main_zag_01 {
    padding: 0%;
    text-transform: uppercase;
    color: #c9a87b;
    font: 62px HelveticaNeueCyr-Bold;
    font-weight: 700;
    text-align: left;
    letter-spacing: 3px
}

span.main_zag_02,
span.main_zag_03,
span.main_zag_04 {
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    font: 62px HelveticaNeueCyr-Bold;
    font-weight: 700;
    text-align: left;
    letter-spacing: 3px;
    line-height: 1.3
}

div.main_zag_04 {
    padding: 5px 0 1%;
    text-transform: uppercase;
    color: #fff;
    font: 20px helveticaneuecyr-medium;
    text-align: left;
    line-height: 1.6;
    letter-spacing: 2px
}

.custom-banner-vnytr {
    width: 100%;
    position: relative;
    margin: 0 auto
}

.custom-banner-vnytr .su-row.cont_2_colum {
    margin: 0 0 0 19%;
    padding: 4% 0 !important;
    width: 100%;
    max-width: 700px;
    outline: 0 solid red;
    position: relative;
    overflow: hidden
}

.custom-banner-vnytr .su-row.cont_2_colum p.izob {
    text-align: center !important;
    margin: 0 auto
}

.custom-banner-vnytr .su-row.cont_2_colum img {
    max-width: 100%;
    height: auto
}

.custom-banner-vnytr .su-column.cont_2_colum_1.su-column-size-1-1.su-column-size-medium-1-2 {
    width: 100%;
    margin: 0 auto !important;
    padding: 0 1% !important;
    transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear
}

.custom-vopros {
    background-image: url(../img/bg_8.html);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 7% 0
}

div.zag_vopros {
    padding: 0 1% .3em;
    margin: 0 auto;
    text-transform: uppercase;
    color: #464646;
    font: 36px HelveticaNeueCyr-Bold;
    text-align: center;
    letter-spacing: 1px;
    border-bottom: 1px solid #464646;
    max-width: 440px
}

div.zag_vopros_tel,
div.zag_vopros_tel a {
    padding: .2em 0;
    margin-right: 7px;
    text-transform: uppercase;
    color: #464646;
    letter-spacing: 1px;
    font: 36px HelveticaNeueCyr-Bold;
    text-align: center
}

div.zag_vopros_tel a:hover {
    text-decoration: none
}

.custom-vopros .su-row.cont_2_colum {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 720px
}

.custom-vopros .su-column.cont_2_colum_1.su-column-size-1-1.su-column-size-medium-1-2 {
    width: 15%;
    margin: 0 auto !important;
    padding: 10px 1% !important
}

.custom-vopros .su-column.cont_2_colum_2.su-column-size-1-1.su-column-size-medium-1-2 {
    width: 85%;
    margin: 0 auto !important;
    padding: 2.5em 1% !important;
    text-align: center;
    background-image: url(../img/yg1_v.png), url(../img/yg2_v.png), url(../img/yg3_v.png), url(../img/yg4_v.png);
    background-repeat: no-repeat;
    background-position: left top, left bottom, right top, right bottom
}

.custom-vopros .su-column.cont_2_colum_2.su-column-size-1-1.su-column-size-medium-1-2 p {
    color: #464646;
    font: 18px sans-serif;
    text-align: center;
    letter-spacing: 1px
}

.custom-vopros input.popup-btn {
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 12px 30px !important;
    margin-top: 7px;
    border-radius: 0 !important;
    letter-spacing: 1px
}

.ba-form {
    border: 1px solid #202020 !important;
    padding: 5% 0 !important;
    background-image: url(../img/bg_10.html) !important;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover
}

.ba-htmltext.tool p {
    text-align: center;
    margin: 8px 0 10% !important;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 18px;
    color: #bda076
}

div.ba-modal-body .row-fluid.ba-row input {
    padding-left: 8px !important;
    background: 0 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important
}

div.ba-modal-body .row-fluid.ba-row textarea {
    padding-left: 8px;
    padding-top: 11px !important
}

div.ba-modal-body .row-fluid.ba-row .ba-btn-submit {
    background: 0 0 !important;
    border-right: 2px solid #bda076 !important;
    border-left: 2px solid #bda076 !important;
    border-bottom: 0 !important;
    color: #bda076 !important;
    margin-top: 14% !important;
    display: block;
    margin: 0 auto;
    max-width: 200px !important;
    width: 100% !important;
    text-transform: uppercase
}

div.ba-modal-body .row-fluid.ba-row .ba-btn-submit:hover {
    border-right: 2px solid #fff !important;
    border-left: 2px solid #fff !important;
    border-bottom: 0 !important;
    color: #fff !important
}

.ba-forms-modal .ba-modal-close {
    color: #fff !important;
    font-size: 35px !important
}

.ba-form .ba-alert {
    border: 1px solid #e94b35 !important
}

div.ba-modal-body div.span12 {
    text-transform: uppercase;
    font-family: sans-serif !important;
    font-size: 24px !important;
    text-align: center !important;
    color: #fff !important
}

div.ba-modal-body div.page-0 {
    max-width: 450px;
    margin: 0 auto;
    padding: 5px 7%
}

.ba-modal.popup-form {
    margin-top: 12% !important
}

.modal-scrollable.ba-forms-modal {
    margin-right: 0 !important
}

#cont .cont_contact .com-baforms form {
    margin: 23px auto 0
}

#cont .cont_contact .ba-form {
    border: 0 !important;
    padding: 0 0 1em !important;
    background: 0 0 !important
}

#cont .cont_contact .ba-form .tool {
    margin: 9px 0 0 !important;
    text-align: center !important
}

#cont .cont_contact .row-fluid.ba-row input {
    padding-left: 12px !important;
    font-family: sans-serif
}

#cont .cont_contact .row-fluid.ba-row textarea {
    padding-top: 12px !important;
    padding-left: 12px !important;
    font-family: sans-serif
}

#cont .cont_contact .ba-form label span,
#cont .cont_contact .ba-htmltext.tool p {
    color: #5a5a5a;
    text-align: center;
    padding-bottom: 0;
    display: block !important;
    font-size: 17px !important;
    margin: 0 auto 1.5em !important;
    text-transform: none !important
}

#cont .cont_contact .row-fluid.ba-row .ba-btn-submit {
    border: 2px solid #bda076 !important;
    color: #fff !important;
    display: block;
    margin: 1.3em auto 0 !important;
    max-width: 220px !important;
    width: 100% !important;
    text-transform: uppercase;
    font-family: sans-serif !important;
    padding: 0
}

#cont .cont_contact .row-fluid.ba-row .ba-btn-submit:hover {
    border: 2px solid #fff !important;
    color: #fff !important;
    text-decoration: none
}

#content_bg {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #f9f9f9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clear {
    clear: both
}

#cont p.p_otzuv {
    text-align: center !important;
    line-height: 1 !important;
    font: 17px sans-serif;
    margin: 15px auto -5px !important
}

#cont .breadcrumb span.divider.icon-location {
    display: none
}

#cont div.jk-product-page .breadcrumb {
    margin-bottom: 17px;
    padding: 9px
}

#cont .breadcrumb {
    text-align: center;
    margin-bottom: 8px;
    padding: 0;
    max-width: 100%;
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat
}

#cont ul.breadcrumb li {
    margin: 0;
    padding: 8px 0;
    font: 15px sans-serif;
    list-style: none;
    display: inline
}

#cont .breadcrumb span {
    color: #737373;
    text-shadow: none;
    display: inline;
    padding-left: 1px
}

#cont .breadcrumb a {
    font: 15px sans-serif;
    text-shadow: none;
    font: 15px sans-serif
}

#cont .breadcrumb a:link {
    color: #737373
}

#cont .breadcrumb a:visited {
    color: #737373
}

#cont .breadcrumb a span:hover {
    color: #c49e68
}

#cont .breadcrumb a:hover {
    color: #c49e68;
    text-decoration: none
}

#cont .breadcrumb a:active {
    color: #737373
}

#cont .seo {
    height: 250px;
    overflow: auto;
    padding-right: 15px
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc
}

::-webkit-scrollbar-thumb {
    background-color: #c5a87b
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa
}

#cont {
    width: 100%;
    height: auto;
    padding: 0 0 2%;
    margin: 0 auto;
    overflow: hidden
}

#cont p,
#cont .category-desc-description {
    font: 18px sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: #242424;
    line-height: 1.5;
    text-align: justify
}

@media(max-width:767px) {

    #cont p,
    #cont .category-desc-description {
        text-align: right
    }
}

#cont p.bonus {
    font: 20px sans-serif;
    text-align: center;
    color: #161616;
    margin-bottom: 10px !important
}

#cont p.cont_hr {
    text-align: center
}

strong,
b {
    color: #000
}

#cont img {
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    /* cursor: pointer; */
}

#cont table img {
    border: 0 solid #bcbcbc;
    margin: 0
}

#cont hr {
    height: .2px;
    width: auto;
    background-color: #002655
}

#cont .blog_content_article ul li {
    background-image: url(../img/arrow-link.png);
    background-repeat: no-repeat;
    background-position: left center;
    font: 18px sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: #242424;
    /* list-style-type: none; 
    */
    
    text-align: right;
    padding: 10px 0 9px 28px
}

#cont .blog_content_article ol {
    list-style-type: none;
    counter-reset: item
}

#cont .blog_content_article li:before {
    background: #c5a87b;
    color: #fff;
    font-size: 13px;
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-right: 7px;
    content: counter(item);
    counter-increment: item;
    padding: 1px 8px;
    font-weight: 700
}

#cont .blog_content_article ol li {
    padding: 7px 0;
    font: 18px sans-serif;
    color: #242424;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    line-height: 1.5 !important;
    text-align: right;
    margin-left: 3px
}

#cont .blog_content_article ul li:before {
    content: none;
    counter-increment: none
}

#cont .blog_content_article a {
    text-decoration: unset
}

#cont .blog_content_article a:link {
    color: #bc9b70
}

#cont .blog_content_article a:visited {
    color: #bc9b70
}

#cont .blog_content_article a:hover {
    color: #035d92;
    text-decoration: underline
}

#cont .blog_content_article a:active {
    color: #bc9b70;
    text-decoration: underline
}

#cont .su-blockquote-align-left {
    float: none;
    margin: 20px 0 10px !important
}

#cont .su-blockquote-font-1 .su-blockquote-inner {
    font: 16px sans-serif;
    line-height: 1.7;
    font-style: italic;
    color: #272727
}

#cont .su-blockquote .su-blockquote-cite {
    font-size: 18px
}

#cont .su-box-title {
    font-weight: 400;
    font: 25px sans-serif;
    padding: .4em .7em
}

#cont .su-box-content {
    color: #5a5a5a;
    line-height: 1.7;
    font-size: 15px
}

#cont .su-box {
    border-width: 1px;
    margin: 0 0 1.2em
}

#cont .su-button.su-button-style-default {
    background: 0 0
}

#cont .su-button.su-button-style-default span {
    padding: 0;
    font-size: 15px;
    line-height: 1.7;
    padding: 0
}

.qtip-content {
    font: 15px sans-serif !important;
    color: #5a5a5a !important;
    line-height: 1.5 !important;
    text-align: left !important
}

.qtip-bootstrap .qtip-titlebar,
.qtip-titlebar {
    font: 19px sans-serif !important
}

#cont .su-list.su-list-style-default li {
    background: 0 0
}

#cont .cta-content>h3 {
    text-align: center
}

#cont a.cta-dbtn.visible-phone {
    color: #fff !important
}

#dropfiles-box-player,
#dropfiles-box-loading {
    z-index: 99999999999 !important
}

#cont div.file a {
    text-transform: uppercase
}

#cont a.downloadlink,
#cont a.openlink.dropfileslightbox {
    text-transform: none !important
}

#cont .dropfiles-content.dropfiles-content-default .file {
    border-bottom: 1px solid #b9a675;
    min-height: 90px
}

#cont .su-row.cont_3_colum {
    margin: 0 auto;
    padding: 0;
    width: auto
}

#cont .su-row.cont_3_colum p.izob {
    text-align: center !important;
    margin: 0 auto
}

#cont .su-row.cont_3_colum img {
    max-width: 100%;
    height: auto
}

#cont .su-column.cont_3_colum_1.su-column-size-1-1.su-column-size-medium-1-3,
#cont .su-column.cont_3_colum_2.su-column-size-1-1.su-column-size-medium-1-3,
#cont .su-column.cont_3_colum_3.su-column-size-1-1.su-column-size-medium-1-3 {
    width: 33%;
    margin: 0 auto 15px !important;
    padding: 10px 1% !important
}

@media screen and (max-width:700px) {

    #cont .su-column.cont_3_colum_1.su-column-size-1-1.su-column-size-medium-1-3,
    #cont .su-column.cont_3_colum_2.su-column-size-1-1.su-column-size-medium-1-3,
    #cont .su-column.cont_3_colum_3.su-column-size-1-1.su-column-size-medium-1-3 {
        width: 55%;
        margin: 0 auto 7px
    }
}

@media screen and (max-width:600px) {

    #cont .su-column.cont_3_colum_1.su-column-size-1-1.su-column-size-medium-1-3,
    #cont .su-column.cont_3_colum_2.su-column-size-1-1.su-column-size-medium-1-3,
    #cont .su-column.cont_3_colum_3.su-column-size-1-1.su-column-size-medium-1-3 {
        width: 70%;
        margin: 0 auto 7px
    }
}

@media screen and (max-width:500px) {

    #cont .su-column.cont_3_colum_1.su-column-size-1-1.su-column-size-medium-1-3,
    #cont .su-column.cont_3_colum_2.su-column-size-1-1.su-column-size-medium-1-3,
    #cont .su-column.cont_3_colum_3.su-column-size-1-1.su-column-size-medium-1-3 {
        width: 95%
    }
}

#cont .su-row.cont_4_colum {
    margin: 0 auto;
    padding: 0;
    width: auto
}

#cont .su-row.cont_4_colum p.izob {
    text-align: center !important;
    margin: 0 auto
}

#cont .su-row.cont_4_colum img {
    max-width: 100%;
    height: auto
}

#cont .su-column.cont_4_colum_1.su-column-size-1-1.su-column-size-medium-1-4,
#cont .su-column.cont_4_colum_2.su-column-size-1-1.su-column-size-medium-1-4,
#cont .su-column.cont_4_colum_3.su-column-size-1-1.su-column-size-medium-1-4,
#cont .su-column.cont_4_colum_4.su-column-size-1-1.su-column-size-medium-1-4 {
    width: 24%;
    margin: 0 auto 15px !important;
    padding: 10px 1% !important
}

@media screen and (max-width:1024px) {

    #cont .su-column.cont_4_colum_1.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_2.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_3.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_4.su-column-size-1-1.su-column-size-medium-1-4 {
        width: 49%;
        margin: 0 auto 7px
    }
}

@media screen and (max-width:900px) {

    #cont .su-column.cont_4_colum_1.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_2.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_3.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_4.su-column-size-1-1.su-column-size-medium-1-4 {
        width: 24%;
        margin: 0 auto 7px
    }
}

@media screen and (max-width:768px) {

    #cont .su-column.cont_4_colum_1.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_2.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_3.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_4.su-column-size-1-1.su-column-size-medium-1-4 {
        width: 49%;
        margin: 0 auto 7px
    }
}

@media screen and (max-width:500px) {

    #cont .su-column.cont_4_colum_1.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_2.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_3.su-column-size-1-1.su-column-size-medium-1-4,
    #cont .su-column.cont_4_colum_4.su-column-size-1-1.su-column-size-medium-1-4 {
        width: 95%
    }
}

#cont .su-row.cont_5_colum {
    margin: 0 auto;
    padding: 0;
    width: auto
}

#cont .su-row.cont_5_colum p.izob {
    text-align: center !important;
    margin: 0 auto
}

#cont .su-row.cont_5_colum img {
    max-width: 100%;
    height: auto
}

#cont .su-column.cont_5_colum_1.su-column-size-1-1.su-column-size-medium-1-5,
#cont .su-column.cont_5_colum_2.su-column-size-1-1.su-column-size-medium-1-5,
#cont .su-column.cont_5_colum_3.su-column-size-1-1.su-column-size-medium-1-5,
#cont .su-column.cont_5_colum_4.su-column-size-1-1.su-column-size-medium-1-5,
#cont .su-column.cont_5_colum_5.su-column-size-1-1.su-column-size-medium-1-5 {
    width: 20%;
    margin: 0 auto 15px !important;
    padding: 10px 1% !important
}

@media screen and (max-width:1024px) {

    #cont .su-column.cont_5_colum_1.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_2.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_3.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_4.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_5.su-column-size-1-1.su-column-size-medium-1-5 {
        width: 33%;
        margin: 0 auto 7px
    }
}

@media screen and (max-width:900px) {

    #cont .su-column.cont_5_colum_1.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_2.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_3.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_4.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_5.su-column-size-1-1.su-column-size-medium-1-5 {
        width: 20%;
        margin: 0 auto 7px
    }
}

@media screen and (max-width:850px) {

    #cont .su-column.cont_5_colum_1.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_2.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_3.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_4.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_5.su-column-size-1-1.su-column-size-medium-1-5 {
        width: 33%;
        margin: 0 auto 7px
    }
}

@media screen and (max-width:700px) {

    #cont .su-column.cont_5_colum_1.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_2.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_3.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_4.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_5.su-column-size-1-1.su-column-size-medium-1-5 {
        width: 49%;
        margin: 0 auto 7px
    }
}

@media screen and (max-width:500px) {

    #cont .su-column.cont_5_colum_1.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_2.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_3.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_4.su-column-size-1-1.su-column-size-medium-1-5,
    #cont .su-column.cont_5_colum_5.su-column-size-1-1.su-column-size-medium-1-5 {
        width: 95%
    }
}

#footer_bg {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-image: url(../img/foot_bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: #fff
}

#footer_bg .su-row.cont_2_colum {
    margin: 0 auto;
    padding: 2em 0;
    width: 100%;
    max-width: 1600px
}

#footer_bg .su-column.cont_2_colum_1.su-column-size-1-1.su-column-size-medium-1-2 {
    width: 22%;
    margin: 0 auto !important;
    padding: 5px 1% !important
}

#footer_bg .su-column.cont_2_colum_2.su-column-size-1-1.su-column-size-medium-1-2 {
    width: 78%;
    margin: 0 auto !important;
    padding: 5px 1% !important
}

#footer_bg .su-row.foot_3_colum {
    margin: 0 auto;
    padding: 15px 0 0;
    width: 100%
}

#footer_bg .su-row.foot_3_colum img {
    max-width: 100%;
    height: auto
}

#footer_bg .su-column.foot_3_colum_1.su-column-size-1-1.su-column-size-medium-1-3,
#footer_bg .su-column.foot_3_colum_2.su-column-size-1-1.su-column-size-medium-1-3,
#footer_bg .su-column.foot_3_colum_3.su-column-size-1-1.su-column-size-medium-1-3 {
    width: 33%;
    margin: 0 auto 15px !important;
    padding: 10px 1% !important
}

#footer_bg .su-column.foot_3_colum_1.su-column-size-1-1.su-column-size-medium-1-3,
#footer_bg .su-column.foot_3_colum_2.su-column-size-1-1.su-column-size-medium-1-3 {
    background-image: url(../img/line_f.png);
    background-repeat: no-repeat;
    background-position: 82% center
}

#footer_bg .icon_description_text,
#footer_bg .icon_description_text a {
    font: 17px sans-serif;
    color: #fff;
    line-height: 1.5
}

#footer_bg .icon_description_text a {
    text-decoration: none
}

#footer_bg .su-row.soc_2_colum {
    margin: 0 auto;
    padding: 0;
    width: 68%
}

#footer_bg .su-row.soc_2_colum img {
    max-width: 100%;
    height: auto
}

#footer_bg .su-column.soc_2_colum_1.su-column-size-1-1.su-column-size-medium-1-2 {
    width: 0%;
    margin: 0 auto !important;
    padding: 5px 1% !important
}

#footer_bg .su-column.soc_2_colum_2.su-column-size-1-1.su-column-size-medium-1-2 {
    width: 100%;
    margin: 0 auto !important;
    padding: 10px 1% !important
}

#footer_bg p.soc_bot {
    float: left;
    margin: 0 !important;
    padding-right: 6%
}

#footer_bg p.soc_bot:last-child {
    padding-right: 0
}

#footer_bg p.soc_bot img:hover {
    opacity: .7
}

#copy {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 15px 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover
}

#copy p {
    font: 17px sans-serif;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    margin: 0 !important
}

@media screen and (max-width:480px) {
    .mycity {
        display: block
    }
}